<h1>show single idea</h1>
<div class="">
  <h3>Creator: <%= @idea.user.first_name %></h3>
  <h3>Idea Title: <%= @idea.title %></h3>
  <p><%= @idea.body %></p>
  <% if can? :edit, @idea%>
  <span class="pull-right">
    <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-success" %>
    <%= link_to 'Delete', idea_path(@idea), class: "btn btn-danger", method: :delete, data:{confirm: 'Are you sure?'} %>
  </span>
  <% end %>
</div>




<%= form_for [@idea, @like] do |f| %>
  <div class="form-group ">
    <div class="col-md-1 col-xs-2 pull-right" style="padding-left:0px;">
      <% if @liked_by_currentuser === false %>
      <%= f.submit "like", class: "btn btn-info btn-block" %>
      <% @liked_by_currentuser = true %>
      <% else %>
      <span class="btn btn-info btn-block">Liked</span>
      <% end %>
    </div>
  </div>
<% end %>

<br>
<br>

<%= form_for [@idea, @review] do |f| %>
  <div class="form-group">
    <label for="review" class="control-label">Your Review: </label>
    <%= f.text_area :body, class: "form-control", rows: 4, placeholder: "Review Body" %>
  </div>
  <div class="form-group ">
    <div class="col-md-3 col-xs-6" style="padding-left:0px;">
      <%= f.submit class: "btn btn-info btn-block" %>
    </div>

  </div>
<% end %>





<br>
<br>
<div>
  <% @reviews.each do |r| %>
  <hr>
  <p><%= r.body %></p>
  <p>Reviewed by <%= r.user.first_name %></p>
  <% if (can? :destroy, r)%>
    <%= link_to 'Delete Review', idea_review_path(@idea, r), class: "btn btn-danger", method: :delete, data:{confirm: "Are your sure?"} %>
  <% end %>
  <% end %>
</div>
